<h2>The app-create component</h2>

<!--[value]=""  targets the value property of underlying object and bind the value between the ""  to it it is now not normal text
but typescript code. If you enter normal text it wont work you'll have to enter values or methods eg newPost . To output values as a string you have to wrap
them in '' eg [value]="'Test'" will output test text to the screen-->
<textarea rows="6" [value]="newPost" [(ngModel)]="enteredValue"></textarea>
<hr>
<button (click)="onAddPost()">Save Post</button>
<!-- String interpolation  {{refer to something belonging to the ts eg. method or property name}} -->
<p>{{ newPost }}</p>

